.appBar {
  background: red;
  color: red;
}
.taabs {
  color: red;
  display: inline;
}
.left {
  float: left;
}
.tab {
  float: left;
  width: 50%;
}
.menu {
  background: red;
  color: white;
  width: 100%;
}
.input {
  min-width: 100px;
}
.contain {
  display: inline;
}
.carditems,
.activecard {
  max-width: 90%;
  min-width: 30%;
  width: 350px;
}
@media only screen and (max-width: 600px) {
  .carditems {
    min-width: 250px;
  }
}
.carditems:hover,
.activecard:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}
.tool {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  align-self: center;
}
.row {
  margin-bottom: 20px;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.card {
  padding: 20px;
  margin: 10px;
}
.ant-tabs-ink-bar {
  background: #F73406 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #F73406 !important;
}
.ant-tabs-tab:hover .ant-tabs-tab:hover .ant-tabs-tab-btn:hover {
  color: #F73406 !important;
}
.heading {
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  color: #F73406;
}
.center {
  display: flex;
  align-items: center;
  align-content: center;
}
html,
.tools-container {
  --antd-wave-shadow-color: #F73406 !important;
  --scroll-bar: 0;
  font-family: 'Nexalight' !important;
}
.h2 {
  margin-left: 20px;
  color: white;
  margin-top: 10px !important;
}
.h2-nav {
  margin-left: 20px;
  color: white;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.input {
  border: 1px solid gray;
  padding: 5px;
  margin-right: 20px;
}
.result-heading {
  font-weight: bold;
  color: #F73406;
  text-transform: uppercase;
}
.result {
  margin: 20px 0px;
  padding: 20px;
  border: solid 1px #F73406;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.appbar {
  background: #F73406;
}
.descp {
  font-style: italic;
}
.contain {
  display: flex;
}
.ant-tabs-content-holder {
  display: flex;
}
.ant-tabs {
  width: 100% !important;
}
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:hover:focus {
  border: 1px solid lightgray !important;
  box-shadow: 0px 0px 0px 0px;
}
input[type="text"]:focus {
  border: 0 !important;
  box-shadow: 0px 0px 0px 0px
   !important;
}
.ant-tabs-tab {
  flex-grow: 1;
  margin-left: 20px !important;
}
.input {
  margin-left: 25px;
  margin-right: 30px;
}
@font-face {
  font-family: 'Nexabold';
  src: url("/_next/static/chunks/fonts/Nexa Bold-c9f309b3d47969ecac64a77a6c672594.otf") format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'Nexalight';
  src: url("/_next/static/chunks/fonts/Nexa Light-12108809f49c49bcdc126dcecc938761.otf") format('opentype');
  font-display: swap;
}
.input-col,
.input-col input {
  min-width: 60px;
  width: 100px;
  margin-right: 30px;
}
.slider {
  float: right;
  right: 0;
}
.center {
  display: inline;
}
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}
.ant-menu a {
  color: white !important;
}
.ant-layout {
  background: white !important;
}
a {
  color: black !important;
}
.ant-card:hover a {
  color: black !important;
}
.ant-card,
.ant-card a {
  transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.ant-input-affix-wrapper,
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus {
  box-shadow: 0 !important;
  border: 0 !important;
}
.ant-tabs-tab-btn:hover,
.ant-tabs-tab:hover {
  color: #F73406 !important;
}
.ant-input:focus {
  border: 1px solid gray !important;
}
.card,
.carditems,
.ant-card-body,
.ant-card {
  color: black !important;
}
.ant-slider-track {
  background: #F73406 !important;
}
.ant-slider-handle {
  border: 2px solid #F73406 !important;
}
.navmenu {
  min-width: 300px;
  max-width: 400px;
  background: white;
}
.navtitle {
  margin-left: 10px;
  float: left;
  width: 175px;
}
.navtitle-icon {
  margin-right: 10px;
}
.h {
  min-height: 40px;
}
.nav-item {
  padding-left: 20px;
  margin: 3px;
  height: 30px;
  width: 100%;
  transition: 0.3s;
}
.nav-item:hover {
  background: #f1f1f1;
}
.nav-item:hover a {
  color: black !important;
}
.menu {
  height: 60px;
}
.toolbox {
  width: 100%;
  align-self: center;
  margin: 50px 70px;
  margin-top: 20px;
  padding: 0px !important;
  border-radius: 30px;
  border: 0px !important;
}
.toolbox-heading {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.toolbox-calc {
  padding: 20px;
  background: white;
  font-size: 15px !important;
}
.toolbox-desc {
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}
.toolbox-layout {
  background: white !important;
  height: 100vh;
  margin-top: 60px;
  color: black !important;
  font-size: 17px;
}
.cardwidth {
  min-width: 100% !important;
}
.hr {
  size: 0.25px;
  width: 95%;
  color: lightgray;
}
.tools-container {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
}
.tools-left {
  height: 100vh;
  min-width: 300px;
  max-width: 50%;
  overflow: auto;
  scrollbar-color: #f1f1f1 white;
  scrollbar-width: thin !important;
}
.ant-select {
  margin-left: 10px !important;
  min-width: 100px !important;
  max-width: 140px !important;
}
::-webkit-scrollbar {
  width: 4px !important;
  color: #f1f1f1 !important;
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #cfcbcb;
  border-radius: 30px;
}
.tools-container {
  height: 90vh;
}
.menu {
  position: sticky;
}
@media screen and (max-width: 700px) {
  .tools-left {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
}
.menu-icon {
  display: none;
}
.nav-surround {
  display: inline;
}
.carditems,
.activecard {
  padding: 10px !important;
  font-size: 17px !important;
}
@media screen and (max-width: 700px) {
  .toolbox {
    margin: 0px;
    border: 0;
    border-radius: 0;
  }
  .input,
  .input-col input {
    width: 60px !important;
    margin-right: 10px;
  }
  .input-col {
    min-width: 10px;
  }
  .toolbox-heading {
    border-radius: 0;
  }
  .card,
  .carditems,
  .ant-card-body,
  .ant-card {
    width: 100% !important;
  }
}
.menu {
  display: flex;
  align-items: center;
}
.menu-icon {
  float: left;
  margin-left: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  height: 60px;
}
.tools-container {
  margin-top: 0px;
  /* overflow:hidden; */
}
.h2-nav {
  font-family: 'Nexabold' !important;
}
.ant-drawer-header,
.ant-drawer-title {
  background: #F73406 !important;
  color: white !important;
  font-size: 17px  !important;
  font-weight: bold  !important;
}
.calculate-button {
  background: #F73406 !important;
  color: white !important;
  display: flex;
  align-items: center;
}
.toolbox-layout {
  height: 100%;
  overflow: auto;
}
@media screen and (min-width: 700px) {
  .toolbox-layout {
    overflow-x: hidden !important;
    padding: 10px !important;
  }
  .toolbox {
    margin: 10px !important;
  }
}

.carditems {
  height: 100px;
  max-width: 340px;
  padding: 100px !important;
  margin: 10px !important;
  background: #ffffff !important;
  border-radius: 0px !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5) !important;
}
.carditems:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5) !important;
}
.carditems:hover,
.activecard:hover,
.carditems1:hover {
  cursor: pointer;
}
@media only screen and (max-width: 1120px) {
  .carditems,
  .activecard {
    max-width: 250px;
  }
}
@media only screen and (max-width: 878px) {
  .carditems,
  .activecard {
    max-width: 200px;
    height: 140px;
  }
}
@media only screen and (max-width: 696px) {
  .carditems,
  .activecard {
    max-width: 150px;
  }
}
@media only screen and (max-width: 640px) {
  .carditems,
  .activecard {
    max-width: 300px;
  }
}
@media only screen and (max-width: 580px) {
  .desktopview {
    display: none !important;
  }
  .mobileview {
    margin-top: 60px;
    display: block !important;
  }
}
@media only screen and (min-width: 580px) {
  .desktopview {
    display: block !important;
  }
  .mobileview {
    margin-top: 60px;
    display: none !important;
  }
}
.activecard {
  width: 100%;
  height: 90px;
  min-width: 100% !important;
  margin: 10px !important;
  border-radius: 0px !important;
  border: solid 1px #F73406 !important;
  color: #F73406 !important;
  font-weight: bold !important;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5) !important;
}
.carditems1 {
  height: 70px !important;
  width: 100% !important;
  border-radius: 0px !important;
  min-width: 100%;
  width: 350px;
  padding-top: 0px !important;
  margin: 10px !important;
}
.activecard a {
  color: #F73406 !important;
}

.navmenu {
  min-width: 300px;
  max-width: 400px;
  background: white;
}
.navtitle {
  margin-left: 10px;
  float: left;
  width: 175px;
}
.input {
  min-width: 100px !important;
}
.navtitle-icon {
  margin-right: 10px;
}
.h {
  min-height: 40px;
}
.nav-item {
  padding-left: 20px;
  margin: 3px;
  height: 30px;
  width: 100%;
  transition: 0.3s;
}
.nav-item:hover {
  background: #f1f1f1;
}
.nav-item:hover a {
  color: black !important;
}
.menu {
  height: 60px;
}
.nav-link {
  text-decoration: none;
}

.toolbox {
  width: 100%;
  align-self: center;
  margin: 50px 70px;
  margin-top: 20px;
  padding: 0px !important;
  border-radius: 30px;
  border: 0px !important;
}
.toolbox-heading {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.toolbox-calc {
  padding: 20px;
  background: white;
  font-size: 15px !important;
}
.toolbox-desc {
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}
.toolbox-layout {
  background: white !important;
  height: 100vh;
  margin-top: 60px;
  color: black !important;
  font-size: 17px;
}
.cardwidth {
  min-width: 100% !important;
}
.hr {
  size: 0.25px;
  width: 95%;
  color: lightgray;
}
.tools-container {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
}
.tools-left {
  height: 100vh;
  min-width: 300px;
  max-width: 50%;
  overflow: auto;
}
.tools-container {
  height: 90vh;
}
.menu {
  position: sticky;
}
@media screen and (max-width: 700px) {
  .tools-left {
    display: none;
  }
  .menu-icon {
    display: block !important;
  }
}
.menu-icon {
  display: none;
}
.nav-surround {
  display: inline;
}
.carditems {
  padding: 10px !important;
  font-size: 17px !important;
}
@media screen and (max-width: 700px) {
  .toolbox {
    margin: 0px;
    border: 0;
    border-radius: 0;
  }
  .input,
  .input-col input {
    width: 60px !important;
    margin-right: 10px;
  }
  .input-col {
    min-width: 10px;
  }
  .toolbox-heading {
    border-radius: 0;
  }
}
.menu {
  display: flex;
  align-items: center;
}
.menu-icon {
  float: left;
  margin-left: 20px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  height: 60px;
}
.tools-container {
  margin-top: 0px;
  /* overflow:hidden; */
}
.h2-nav {
  font-family: 'Nexabold' !important;
}
.ant-drawer-header,
.ant-drawer-title {
  background: #F73406 !important;
  color: white !important;
  font-size: 17px  !important;
  font-weight: bold  !important;
}
.calculate-button {
  background: #F73406 !important;
  color: white !important;
  display: flex;
  align-items: center;
}
.toolbox-layout {
  height: 100%;
  overflow: auto;
}

