.uQ03nuDR-8V_7ONw8Ay5d {
    width:100%;
    align-self: center;
    margin:50px 70px;
    margin-top:20px;
    padding:0px !important;
    border-radius: 30px;
    border:0px !important;
}
._3G6SDQkaczBMceK9aA8KaF {
    padding:0px !important;
    margin-top:20px;
}
._23MFNmG7oVO6r6eqA8o4EL {
    color:black;
    font-weight: bold;
    font-size: 20px;
    padding:20px;
}

._1-YIoYRcdNRxsmgqBiZbmz {
    padding:20px;
    background: white;
    font-size:15px !important;
}

._3MuwzQz-v3xJUuCll6fSGk {
    padding:20px;
    
    border-radius: 0px 0px 20px 20px;
}

._2YZT_jaAbQwBaiqRTsZQEk {
    background: white !important;
    height:100vh;
    margin-top: 60px;
    color:black !important;
    font-size: 17px;

}
._1brjJd_71q_o4zojQi7NbE {
    min-width:100% !important;
}
._3Wj6EzqeOKh4t_KERfnHus {
    size:0.25px;
    width:95%;
    color:lightgray;
}


._1zEgbIMEJZ9XTfKDOlf9ro {
    display:flex;
}


.yUhEcwf1iiEG2FSPnlRGs {
    display:flex;
    align-items: center;
}
._2eebGowlAOu42ACAPRYv_A {
    height:100vh;
    min-width:300px;
    max-width: 50%;
    overflow:auto;
}
._1zEgbIMEJZ9XTfKDOlf9ro {
    height:90vh;
}
._2GSePtbVk9YuhUfzyiOUQT {
    position:sticky;
}

@media screen and (max-width:700px) {
    ._2eebGowlAOu42ACAPRYv_A {
        display:none;
    }
  ._1WmOKsOT4ZB1zRTKZkh689 {
      display: block !important;
  }
}
._1WmOKsOT4ZB1zRTKZkh689 {
    display: none;
}
._1cXGjEEtPPLNmaj3Gi186P {   
   display: inline;
   
}
._3G6SDQkaczBMceK9aA8KaF {
    margin:0 !important;
}
.r3BMW8OV0_rCXIeSiNiJN {
    padding:10px !important;
    font-size:17px !important;
}
@media screen and (max-width:700px) {
    .uQ03nuDR-8V_7ONw8Ay5d {
        margin:0px;
        border:0;
        border-radius:0;
    }
    ._2YaRTdEzYdux4X72OLwM2-,.FO8qKb3r-bbLYslg4Hs0- input{
        width:60px !important;
        margin-right:10px;
    }
    .FO8qKb3r-bbLYslg4Hs0- {
        min-width:10px;
    }
    ._23MFNmG7oVO6r6eqA8o4EL {
        border-radius:0;}

        ._1v3Eaa0Oa8P98Wx_rJAR14 , .r3BMW8OV0_rCXIeSiNiJN,._3G6SDQkaczBMceK9aA8KaF ,.v427dC5jK68wn5S5dAHFj#_162unD5oTmAjEDvUFSjXDz,._1OQFpyLIbRPkO07MoMkaOo{
            width:100% !important;
        }
}
._2GSePtbVk9YuhUfzyiOUQT {
    display:flex;
    align-items: center;
}
._1WmOKsOT4ZB1zRTKZkh689 {
    float:left;
    margin-left: 20px;
}
._2z_WjhTkcet-nfVMItFSzi {
    position:fixed;
    top:0;
    width:100%;
    overflow:hidden;
    z-index:1;
    height:60px;
}
._1zEgbIMEJZ9XTfKDOlf9ro {
    margin-top:0px;
    /* overflow:hidden; */
   
}
._2hW7dm9vB8Zhu8PtXWOG0R {
    font-family: 'Nexabold' !important;
}
._3U1v74JzwqYFufgClquQ24 ,._3pYfxI_GpKmQoJlxaNvVlQ  {
    background:#F73406 !important;
    color:white !important;
    font-size: 17px  !important;
    font-weight: bold  !important;
}
._3Gf1pLkW9QBtcO8tc2l2tH {
    background:#F73406 !important;
    color:white !important;
    display: flex;
    align-items: center;
}
._2YZT_jaAbQwBaiqRTsZQEk {
    height:100%;
    overflow:auto;
}
._1TrzLw5bWOK6gB8z6wOpl5  {
    background:red;
    color:red;
  }

  ._1Xf01smhE46PR7RpMZUoNT {
        color:red;
        display: inline;
  }

  ._3_U33FopgT11SzFTL5USQN {
      float:left;
  }
  .TyJgytf8RACgRd_oLKnij {
      float:left;width:50%;
  }

  ._3EE0rvLxcUrIskXPSkvAVe {
      background:red;
      color:white;
      width:100%;
      
  }
  ._2SCzbpe5uj2Ddt8oNz58Yt {
      min-width:100px;
  }
  .s4vjzCPzno1W1tWhGKCkC {
      display: inline;
  }
  .QFCD9aA6urHIO-D0IXgQv {
      max-width:90%;
      min-width: 30%;
      width:350px;
      padding:10px;
      margin:10px;
  }
 
  @media only screen and (max-width: 600px) {
    .QFCD9aA6urHIO-D0IXgQv {
     min-width:250px;
    }
  }
  .QFCD9aA6urHIO-D0IXgQv:hover {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);

  }
  .neS3kjqDRycxgoPqU8Ehn {
      width:100%;
      padding:50px 100px;
      display:flex;
      align-self: center;
  }

  ._1voTYteOLxjiyQcvxR_aTS {
      margin-bottom:20px;
  }
.HiOGFlXkVZJmAK_ByHaw0 {
    min-width:300px;
    max-width:400px;
    background:white;

}

._2iDtKn9l3K4vIc_BSupa7N {
   margin-left: 10px;
    float:left;
    width:175px;
   
    
}
._1hzjFGdeVvQi030fdtGhLA {
  
    margin-right: 10px;
}
._2ziM7MCidu-mcpLw1B_sXk {
    min-height:40px;
}
._2ECxzXDTWyFMZoUzwCAqQ- {
    
    padding-left:20px;
    margin:3px;
    height:30px;
    width:100%;
    transition:0.3s;
}
._2ECxzXDTWyFMZoUzwCAqQ-:hover {
    background: #f1f1f1;
    
}
._2ECxzXDTWyFMZoUzwCAqQ-:hover a {
    color:black !important;
}
._1ktbiGcJjVmGlKgq54oDX5 {
    height:60px;
}
