{
    "presets": ["next/babel"],
    "plugins": [
      [
        "import", {
          "libraryName": "antd",
          "style": true
        }
      ],"babel-plugin-inline-import",
      "babel-plugin-root-import"
    ]
  }