.appBar  {
    background:red;
    color:red;
   

  }

  .taabs {
        color:red;
        display: inline;
  }

  .left {
      float:left;
  }
  .tab {
      float:left;width:50%;
  }

  .menu {
      background:red;
      color:white;
      width:100%;
      
  }
  .input {
      min-width:100px;
  }
  .contain {
      display: inline;
  }
  .carditems {
      max-width:90%;
      min-width: 30%;
      width:350px;
      padding:10px;
      margin:10px;
  }
 
  @media only screen and (max-width: 600px) {
    .carditems {
     min-width:250px;
    }
  }
  .carditems:hover {
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.5);

  }
  .tool {
      width:100%;
      padding:50px 100px;
      display:flex;
      align-self: center;
  }

  .row {
      margin-bottom:20px;
  }