
html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.card {
  padding:20px;
  margin:10px; 
}
.ant-tabs-ink-bar{
  background: #F73406 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color:#F73406 !important;
}
.ant-tabs-tab:hover .ant-tabs-tab:hover .ant-tabs-tab-btn:hover {
  color:#F73406 !important;
}
.heading {
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;
  color:#F73406;
}
.center {
  display:flex;
  align-items: center;
  align-content: center;
  
}
html, .tools-container,.body {
  --antd-wave-shadow-color: #F73406 !important;
  --scroll-bar: 0;
  font-family: 'Nexalight' !important;
}
.h2 {
  margin-left: 20px;
  color:white;
  margin-top:10px !important;
}
.h2-nav {
  margin-left: 20px;
  color:white;
  margin-top:20px !important;
  margin-bottom:20px !important;
}
.input {
  border:1px solid gray;
  padding:5px;
  margin-right: 20px;
}
.result-heading {
  font-weight:bold;
  color:#F73406;
  text-transform: uppercase;
}
.result {
  margin:20px 0px;
  padding:20px;
  border:solid 1px #F73406;
  width:100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.#F73406 {
  background: #F73406;
}
.appbar {
  background:#F73406;
}
.descp {
  font-style: italic;
}

.contain {
  display: flex;
}
.ant-tabs-content-holder {
  display: flex;
}
.ant-tabs {
  
  width:100% !important;
}
.ant-input-affix-wrapper:hover,.ant-input-affix-wrapper:hover:focus {
  border:1px solid lightgray !important;
  box-shadow: 0px 0px 0px 0px;
}
input[type="text"]:focus {
  border:0 !important;
  box-shadow: 0px 0px 0px 0px
   !important;
}
.ant-tabs-tab {
  flex-grow: 1;
  margin-left: 20px !important;
}
.input {
  margin-left:25px;
  margin-right:30px;
}
@font-face {
  font-family: 'Nexabold';
    src: url('../public/fonts/Nexa\ Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Nexalight';
    src: url('../public/fonts/Nexa\ Light.otf') format('opentype');
}

.input-col , .input-col input {
  min-width:60px;
  width:100px;
  margin-right:30px;
}
.slider {
  float:right;
  right:0;
}
.center {
  display: inline;
}
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

.ant-menu a {
  color:white !important;
}
.ant-layout {
  background: white !important;
}
a {color:black !important;}
.ant-card:hover a {
  color:black !important;
}
.ant-card , .ant-card a{
  transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
.ant-card {
  background: #fcfcfc !important;
  border-radius: 10px !important;
}
.ant-input-affix-wrapper,.ant-input-affix-wrapper:hover,.ant-input-affix-wrapper:focus {
  box-shadow: 0 !important;
  border:0 !important;}
 .ant-tabs-tab-btn:hover , .ant-tabs-tab:hover {
  color:#F73406 !important;
}
.ant-input:focus {
  border:1px solid gray !important;
}
.ant-card {
  margin-top: 20px;
}
.card , .carditems,.ant-card-body,.ant-card {
  color:black !important;
}
.ant-slider-track {
  background:#F73406 !important;
  }
  .ant-slider-handle {
    border:2px solid #F73406 !important;
  }
 